body {
    background-color: color-mix(in srgb, #362105 50%, #856413 50%);
}


h1 {
    position: relative;
    top: 10px;
    left: 200px;
    font-size: 30px;
    font-style: revert;
    color: #a4a318;
    line-height: 1.0;
    white-space: nowrap;
}

.container {
    position: relative;
}


.frame {
    width: 500px;
    padding: 10px 10px 10px;
    border: 15px double black;
    border-radius: 15px;
    position: absolute;
}

    .frame .title {
        position: relative;
        top: -10px;
        /* left: 190px;*/
        font-size: 20px;
        /*padding: 6px 14px;*/
        /*  color: #ffa685;*/
        background: linear-gradient(105deg, #f3be91, #cc4621);
        font-style: italic;
        text-align: center;
        font-weight: bold;
        font-family: 'Sitka Display';
    }